/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.idea
.phpintel
*.lock
*.zip
.phpintel/68ad2506d28c03fde855fbc3c1ddb4ce
.phpintel/index
